/*contenedor inicio*/
.start{
  background-color: rgb(80, 79, 79);
  height: 650px;  
}

/*LOGO*/
.imgLogo{
  text-align: center;
}
#logo{
text-align: center;
width: 200px;
margin-top:40px;
margin-bottom: 40px;
}
h1{
  text-align: center;
  color: orange;
  font-size: 30px;
  }
/*Login*/
.btn-primary{
  width: 100%;
  background-color: orange;
  border: none;
  color:rgb(80, 79, 79);
  margin-top: 20px;
}

